@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
  }
}

.PopoverContent {
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}
